<%- include ("partials/header") %>
    <h3>Sign Up!</h3>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="User name">
        <input type="password" name="password" required placeholder="Password">
        <button>Submit</button>
    </form>
    <%- include ("partials/footer") %>